<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="media/building.jpg" alt="" id="logofooter">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio rerum perferendis fugiat quam aliquam possimus modi blanditiis iusto reprehenderit voluptatibus! Incidunt aliquid repudiandae reiciendis eaque neque dolore dolores vel sapiente.</p>
            </div>
            <div class="col-md-4">
                <h2>dot square pvt ltd</h2>
                <p><span><i class="bi bi-building"></i></span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam omnis nulla, expedita nisi minus dolore tenetur velit tempora dolor laborum nihil, qui eligendi, quas culpa excepturi deserunt adipisci. Officia, praesentium.</p>
                <p><span><i class="bi bi-telephone"></i></span>765433-8876778-7654</p>
                <p><span><i class="bi bi-phone"></i></span>76340754876543</p>
            </div>
            <div class="col-md-4">
                <h2>FORM</h2>
            <form action="/queryrecord" method="post">
                <input type="email" name="email" id="" class="form-control" placeholder=" Enter email">
                <textarea name="query" id="" class="form-control mt-2 mb-2" placeholder=" Enter query"></textarea>
                <button type="submit" class=" btn btn-success form-control">submit</button>
            </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <img src="media/small1.jpg" alt="">
                <img src="media/small2.jpg" alt="">
                <img src="media/small3.jpg" alt="">
                <img src="media/small4.jpg" alt="">
            </div>
        </div>
    </div>
</section>