<div class="col-md-4">
    <a href="/admin/banner"><button class="btn btn-success form-control mt-2 mb-2">Banner page management</button></a>
    <a href="/admin/query"><button class="btn btn-success form-control">Query management</button></a>
    <a href="/admin/testi"><button class="btn btn-success form-control mb-2 mt-2">Testinomial management</button></a>
   
</div>